{% extends "layout.html" %}
{% block meta %}<meta http-equiv="refresh" content="30" />{% endblock %}
{% block title %}{{ name | e }}{% endblock %}
{% block body %}
<div class="details">
<h1><a href="/">Server Status</a></h1>
<h2>{{ name | e }}</h2>

{% if late %}
<h3><strong>This server has not reported in recently. All data are suspect. Please check the server.</strong></h3>
{% endif %}

{% if trash %}
<p>
  <a href="/trash?name={{ name | e }}">Remove from Trash</a>
</p>
{% else %}
<p>
  <a href="/trash?name={{ name | e }}">Move to Trash</a>
</p>
{% endif %}

<table>
  <tr>
    <th>Server</th><td><a href="/?ip={{ ip }}">{{ ip }}</a></td>
  </tr>
  <tr>
    <th>Page Views</th><td>{{ pages }}</td>
  </tr>
  <tr>
    <th>CPU Load</th><td>{{ cpu }}</td>
  </tr>
  <tr>
    <th>Disk Used</th><td>{{ disk }}%</td>
  </tr>
  <tr>
    <th>Errors</th><td>{{ errors }}</td>
  </tr>
</table>
{% if errorDetails.length > 0 %}
  <h3>Sample Errors</h3>
  <table>
    <tr>
      <th>Method</th>
      <th class="error-path">Path</th>
      <th>Status</th>
    </tr>
    {% for error in errorDetails %}
      <tr>
        <td>{{ error.method | e }}</td>
        <td class="error-path">{{ error.path | e }}</td>
        <td class="error-status">{{ error.status | e }}</td>
      </tr>
    {% endfor %}
  </table>
{% endif %}
</div>
{% endblock %}
