<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="refresh" content="30" />
  <link rel="stylesheet" type="text/css" href="/css/reset.css" />
  <link rel="stylesheet" type="text/css" href="/css/base.css" />
  <link rel="stylesheet" type="text/css" href="/css/site.css" />
  <title>{% block title %}Client Site Status{% endblock %}</title>
</head>
<body>
  {% block body %}{% endblock %}
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript">
    $('[data-history]').each(function() {
      var $history = $(this);
      var points = JSON.parse($history.attr('data-history'));
      var max = 0;
      $.each(points, function(i, point) {
        if (point > max) {
          max = point;
        }
      });
      var height = $(this).height();
      $.each(points, function(i, point) {
        var $div = $('<div></div>');
        $div.css('height', (point * height / max) + 'px');
        $history.append($div);
      });
    });
  </script>
</body>
</html>
