{% extends "layout.html" %}
{% block title %}Client Site Status{% endblock %}
{% block body %}

<h2 class="filters">
  {% if ip %}
    <a href="/">All Servers</a>
    Server {{ ip }}
  {% else %}
    {% if trash %}
      <a href="/">Live</a> | Trash
    {% else %}
      Live | <a href="/?trash=1">Trash</a>
    {% endif %}
  {% endif %}
</h2>

{% for site in sites %}
<a href="/details?name={{ site.name | e }}" class="site-link">
  <div class="site" data-site>
    <h3>{{ site.name | e }}</h3>
    {% if site.late %}
      <p class="warning">?</p>
      {# For consistent height #}
      <p class="delta">&nbsp;</p>
    {% else %}
      <p>{% if not site.pages %}&nbsp;{% else %}{{ site.pages | e }}{% endif %}</p>
      {% if site.previous %}
        {% if site.previous.pages < site.pages %}
          <p class="delta">▲{{ site.pages - site.previous.pages }}</p>
        {% elif site.previous.pages > site.pages %}
          <p class="delta">▼{{ site.previous.pages - site.pages }}</p>
        {% else %}
          <p class="delta">&nbsp;</p>
        {% endif %}
      {% else %}
        <p class="delta">&nbsp;</p>
      {% endif %}
    {% endif %}
    <h5 data-max></h5>
    <canvas width="144" height="20" class="history" data-history="{{ site.history | json | e }}"></canvas>
    <h4 class="cpu" {% if site.cpu >= 4.0 %}class="warning"{% endif %}>{{ site.cpu or '0.0' }}</h5>
    <h4 class="disk" {% if site.disk >= 80 %}class="warning"{% endif %}>{{ site.disk }}%</h6>
    {% if site.errors %}
      <h4 class="warning">{{ site.errors }}</h4>
    {% endif %}
  </div>
</a>
{% endfor %}
{% endblock %}
