<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="refresh" content="30" />
  <link rel="stylesheet" type="text/css" href="/css/reset.css" />
  <link rel="stylesheet" type="text/css" href="/css/base.css" />
  <link rel="stylesheet" type="text/css" href="/css/site.css" />
  <title>Client Site Status</title>
</head>
<body>
{% for site in sites %}
  <div class="site">
    <h3>{{ site.name | e }}</h3>
    {% if site.late %}
      <p class="warning">?</p>
    {% else %}
      <p>{{ site.pages | e }}</p>
      {% if site.previous %}
        {% if site.previous.pages < site.pages %}
          <p class="delta">▲{{ site.pages - site.previous.pages }}</p>
        {% elif site.previous.pages > site.pages %}
          <p class="delta">▼{{ site.previous.pages - site.pages }}</p>
        {% else %}
          <p class="delta"></p>
        {% endif %}
      {% else %}
        <p class="delta"></p>
      {% endif %}
    {% endif %}
    <h5 {% if site.cpu >= 4.0 %}class="warning"{% endif %}>{{ site.cpu or '0.0' }}</h5>
    <h6 {% if site.disk >= 80 %}class="warning"{% endif %}>{{ site.disk }}%</h6>
    {% if site.errors %}
      <h4 class="warning">{{ site.errors }}</h4>
    {% endif %}
  </div>
{% endfor %}
</body>
</html>
