/* Styles that reimpose some sensible behavior after reset. Not site specific */

body {
  font-family: Helvetica;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 150%;
}

h3 {
  font-size: 125%;
}

h4 {
  font-size: 110%;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1em;
}

a {
  color: #00f;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

/* Tables without default spacing are unreadable unless you are
  intentionally hacking them as a layout tool, which you shouldn't */
td, th {
  margin: 2px;
  padding: 2px;
}

th {
  /* Has anybody ever wanted the centered behavior? */
  text-align: left;
}

pre {
  font-family: Courier;
}

code {
  font-family: Courier;
}

blockquote {
  margin-left: 2em;
}
