/* Styles for this particular app, building on reset and base */

body {
  background-color: black;
  color: white;
}

/* Wrapper for one site */
.site
{
  width: 200px;
  border-radius: 6px;
  border: 1px solid white;
  box-sizing: border-box;
  margin: 8px;
  padding: 4px;
  float: left;
}

/* Site name */
.site h3
{
  width: 180px;
  height: 1em;
  overflow: hidden;
  padding: 2px;
  margin-bottom: 0;
}

.site h5
{
  width: 180px;
  height: 1em;
  overflow: hidden;
  padding: 2px;
  margin-top: 5px;
  margin-bottom: 0;
  color: #888;
  font-size: 80%;
  text-align: center;
}

/* Pages in last n minutes */
.site p
{
  font-size: 400%;
  text-align: center;
  margin: 0.2em;
  padding: 2px;
}

.site p.delta
{
  font-size: 125%;
  text-align: center;
  margin: 0.2em;
  padding: 2px;
}

.site h4
{
  font-size: 100%;
}

/* Errors */
.site h4.warning
{
  text-align: center;
  margin: auto;
  width: 3em;
  padding: 2px;
  margin-bottom: 0;
}

.site-link
{
  color: white;
  text-decoration: none;
}

/* CPU */
.site h4.cpu
{
  float: left;
  padding: 2px;
  margin-bottom: 0;
}

/* Disk % */
.site h4.disk
{
  float: right;
  padding: 2px;
  margin-bottom: 0;
}

/* Warning class added to CPU or disk when they are in a worrisome range */
.site .warning
{
  background-color: #f88;
}

.details
{
  width: 600px;
  background-color: white;
  color: black;
  padding: 20px;
  margin: auto;
  margin-top: 20px;
}

.details table
{
  font-size: 120%;
}

.details th
{
  padding-right: 20px;
}

.details th, .details td
{
  padding-bottom: 10px;
}
